body{
    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px;
}


ul{
    display: flex;
}

ul li{
    margin-right: 40px;
    list-style: none;
}


li a{
    text-decoration: none;
    color: #1e374f;
}
#home{
    color: #01a9fb;
}



.log-in{
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: #03AAFC;
    border: none;
    color: #fff;
    margin-left: 30px;
}



.container-text{
    width: 605px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(17, 30, 43, 0.88);
    margin-left: 185px;
    margin-top: 130px;
}

h2{
    margin-left: 30px;
    padding-top: 9%;
    color: #fff;
    margin-bottom: 25px;
}

p{
    margin-left: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.free-trial{
    display: inline-flex;
    padding: 14px 42px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: #03AAFC;
    color: #fff;
    border: none;
    margin-left: 30px;

}

.no{
    display: flex;
    background: url('./images/cockpitView\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

#img{
    margin-right: 100.44px;
    margin-top: 63px;
    margin-left: 20px;
}


.main{
    display: flex;
    margin-top: 71px;
    margin-left: 169px;
    margin-right: 169px;
}

.icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

   
}

h5{
    padding-right: 25%;
    color: #1e374f;
}


h3{
    padding-right: 34%;
    color: #1e374f;
    font-size: 18px;

}

h1{
    color: #1e374f;
    font-size: 40px;
}

h3{
    font-size: 22px;
}

.feature{
    border: none;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    background: #03AAFC;
    color: #fff;
    font-size: 18px;
}


.container-section{
    width: 1650px;
    height: 1505px;
    flex-shrink: 0;
    background: #121E2E;
    margin-top: 71px;

}

.button-container{
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: #03AAFC;
    border: none;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-left: 213px;
    margin-right: 564px;
    margin-top: 60px;
}


#this-is-a-heading-h4{
    margin-left: 213px;
    font-size: 40px;
    color: #fff;
}


.this-is-a-heading-h5{
    margin-left: 213px;
    margin-right: 20%;
    color: #fff;
    /* font-size: 18px; */
}


.nav-background-color{
    background-color: #03AAFC;
    margin-left: 213px;
    margin-top: 20px;
    margin-right: 500px;
    padding: 20px 20px;
}



li a{
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: #fff;
    display: flex;
    
}



.div-container-img-logo{
    background-color: #000;
    color: #fff;
}

img{
    padding: 2px 2px;
}




.button-container-09{
    margin-left: 213px;
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    background: #03AAFC;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-top: 90px;
}


.this-is-a-heading{
    width: 402px;
    height: 51.965px;
    flex-shrink: 0;
    color: var(--Secondary-Color-500, #F0F5F9);
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-left: 213px;
}


.ho{
    margin-left: 213px;
    width: 627px;
    height: 122.916px;
    flex-shrink: 0;
    color: var(--Secondary-Color-500, #F0F5F9);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}

.bo{
    margin-left: 213px;
    width: 621px;
    height: 117.92px;
    flex-shrink: 0;
    color: var(--Secondary-Color-500, #F0F5F9);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}


.this-is-a-pra{
    margin-left: 213px;
    width: 163px;
    height: 25.982px;
    flex-shrink: 0;
    color: var(--Secondary-Color-500, #F0F5F9);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
}


.fl{
    margin-left: 213px;
    width: 24px;
    height: 24.061px;
    flex-shrink: 0;
}

.ts-is-a-h3{
    margin-left: 213px;
    width: 304px;
    height: 21.985px;
    flex-shrink: 0;
    color: var(--Secondary-Color-500, #F0F5F9);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    text-transform: capitalize;
}



.h6{
    width: 304px;
    height: 21.985px;
    flex-shrink: 0;
    color: var(--Secondary-Color-500, #F0F5F9);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 213px;

}



.section-container-12{
    display: flex;
}


