body{
    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px;
}


ul{
    display: flex;
}

ul li{
    margin-right: 40px;
    list-style: none;
}


li a{
    text-decoration: none;
    color: #1e374f;
}
#home{
    color: #01a9fb;
}



.log-in{
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: #03AAFC;
    border: none;
    color: #fff;
    margin-left: 30px;
}



.container-text{
    width: 605px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(17, 30, 43, 0.88);
    margin-left: 185px;
    margin-top: 130px;
}

h2{
    margin-left: 30px;
    padding-top: 7%;
    color: #fff;
    margin-bottom: 25px;
}

p{
    margin-left: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.free-trial{
    display: inline-flex;
    padding: 14px 42px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: #03AAFC;
    color: #fff;
    border: none;
    margin-left: 30px;

}

.no{
    display: flex;
    background: url('./images/cockpitView\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

#img{
    margin-right: 100.44px;
    margin-top: 63px;
    margin-left: 20px;
}